<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 170px;
            height: 280px;
            float: left;
        }
    </style>
</head>
<body>
    {% for rec in object_list %}
        <div>
            <img src="{{rec.image.url}}" alt="" width="150" height="150">
            <p>{{rec.empname}}</p>
            <p>{{rec.salary}}</p>
            <p>{{rec.department.deptname}}</p>
        </div>
    {% endfor %}
</body>
</html>