<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Count</title>
    <style>
        body{
            background-color: lightblue;
        }
        h1{
            color: yellow;
            text-align: center;
        }
        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        input[type="submit"]{
            float: left;
            margin-left: 200px;
            margin-top: 10px;
            width: 100px;
            height: 30px;
        }
    </style>
</head>
<body>
    <h1>Word Count</h1>
    <div class="main">
    <form action="" method="post">
        {% csrf_token %}
        <textarea name="t1" rows="20" cols="70"></textarea><br><br>
        <input type="submit" value="Count Words" >
    </form>
    
    {% if word_counts %}
        {% if even %}
            <h2 style="color: rgb(48, 203, 17);">word count: {{count}}</h2>
        {% else %}
            <h2 style="color: rgb(255, 0, 0);">word count: {{count}}</h2>
        {% endif %}
    {% endif %}
  </div>
</body>
</html>
