<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #heading{
            height: 50px;
            background-color: blue;
            text-align: center;
            color: white;
        }
        #main{
            position: absolute;
            top: 150px;
            left: 650px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="heading">
         <h1>smart super market</h1>
    </div>
    <div id="main">
        <form action="{% url 'loginurl' %}" method="post">
            {% csrf_token %}
            username: <input type="text" name="uname"><br><br>
            password: <input type="text" name="pwd"><br><br>
            <input type="submit" value="login">
        </form>
        <a href="{% url 'signupurl' %}">signup</a>
    </div>
</body>
</html>