<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>smart super market</h1>
    <div id="logout">
        <p>Hello {{ request.user.username }}</p>
        <a href="{% url 'logouturl' %}">Logout</a>
    </div>
</div>
    <table border="1" cellspacing="0">
        {% csrf_token %}
        <tr>
            <th>items</th>
            <th>price</th>
            <th>quantity</th>
            <th>total</th>
        </tr>
        {% for rec in data %}
        <tr>
            <td>{{rec.items }}</td>
            <td>{{ rec.price }}</td>
            <td>{{ rec.quantity }}</td>
            <td>{{ rec.total }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>