<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #pic{
            float: left;
            width:50%;
        }
        #info{
            float: right;
        }
        #details{
            position: absolute;
            top: 100px;
            right: 100px;
        }
        B{
            display: block;
        }
        p{
            display: inline-block;
        }
    </style>
</head>
<body>
    <div id="pic">
        <img src="{{ MEDIA_URL }}{{ employee.image.url }}" alt="Employee Image">
    </div>
    <div id="info">
         <div id="details">
              <B>Name:</B><p>{{employee.empname}}</p>
               <B>Salary:</B><p>{{employee.salary}}</p>
               <B>Department:</B><p>{{employee.department.deptname}}</p>
         </div>
    </div>
   
</body>
</html>