body{
    background-image: url("signup.jpg");
    background-repeat: no-repeat;
    background-size:780px;
}
.navbar{
     background-color: aqua;
     width: 96%;
     height: 60px;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar ul li{
    display: inline;
    padding: 500px 150px;
}
div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }