*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.heading{
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
}
.main{
    margin-top: 20px;
    text-align: center;
}