{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'css/calculator.css' %}">   
</head>
<body>
    <div class="heading">
        <h1>VCube Calculator</h1>
    </div>
    <div class="main">
        {% block content %}
        <form action="" method="post" onsubmit="return validate()">
            {%csrf_token%}
            <label for="">Number1</label><input type="text" name="t1" id="t1"><br><br>
            <label for="">Number2</label><input type="text" name="t2" id="t2"><br><br>
            <input type="submit" value="Addition" name="add">
            <input type="submit" value="Subtraction" name="sub">
            <input type="submit" value="Multiplication" name="multi">
            <input type="submit" value="Division" name="div">
        </form>
        <br><br>
        <hr>
        {% if action == 'Addition' %}
        <h2 style="color: aqua;">{{action}} - {{result}}</h2>
        {% elif action == 'Subtraction' %}
        <h2 style="color:green;">{{action}} - {{result}}</h2>
        {% elif action == 'Multiplication' %}
        <h2 style="color:blue;">{{action}} - {{result}}</h2>
        {% elif action == 'Division' %}
        <h2 style="color:red;">{{action}} - {{result}}</h2>
        {% endif %}
    {% endblock %}
    </div>
    <script>
        function validate(){
            let val1,val2;
            val1  = document.getElementById("t1").value;
            val2  = document.getElementById("t2").value;
            if(val1 <0 || val2 <0){
                alert("Please enter two numbers");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>