<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .heading{
            text-align: center;
        }
       .main{
            text-align: center;
        }
    </style>
</head>
<body>
 
  <form action="" method="post">
    {% csrf_token %}
    Employee number: <input type="text" name="eno"><br><br>
    Employee Name: <input type="text" name="ename"><br><br>
    Employee Salary: <input type="text" name="esal"><br><br>
    department :<select name="deptno" id="">
    {% for dept in depts %}
    <option value="{{dept.deptno}}">{{dept.deptname}}</option>
    {% endfor %}
    </select><br><br>
    <input type="submit" value="insert">
  </form>
</body>
</html>