<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #f2f2f2;
        }
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <table border="1" cellspacing="0">
        <tr>
            <th>Employee number</th>
            <th>Employee Name</th>
            <th>Employee Salary</th>
            <th>Department</th>
            <th colspan="2">Action</th>
        </tr>
        {% for rec in employees %}
        <tr>
            <td>{{ rec.empno }}</td>
            <td>{{ rec.empname }}</td>
            <td>{{ rec.salary }}</td>
            <td>{{rec.department.deptname}}</td>
            <td>
                <a href="{% url 'empupdateurl' rec.empno %}">Update</a>
                <a href="{% url 'empdeleteurl' rec.empno %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'empinserturl' %}">back</a>
</body>
</html>