<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            Employee no <input type="text" name="eno" value="{{employee.empno}}"><br><br>
            Employee name <input type="text" name="ename" value="{{employee.empname}}"><br><br>
            Employee salary <input type="text" name="esal" value="{{employee.salary}}"><br><br>
            department <select name="deptno" id="">
                {% for dept in depts %}
                    <option value="{{dept.deptno}}">{{dept.deptname}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="update">
        </form>
    </body>
</html>